<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>add car </title>
</head>
<body>
<h1>form add a car </h1>
<form action="#" th:action="@{/checkaddcar}"  th:object="${car}" method="post">
    <p>
         name :
        <input type="text" th:field="*{name}"/>

    </p>

    <p>
        price :
        <input type="text" th:field="*{price}"/>

    </p>

    <p>
        seat number :
        <input type="text" th:field="*{seatnumber}"/>

    </p>


    <p>
        <input type="submit" value="Add"/>

        <input type="reset" value="Rest"/>
    </p>
</form>

</body>
</html>