<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>sell car</title>
</head>
<body>
<h1>form cell a car </h1>
<form action="#" th:action="@{/checksellcarreal(id=${info.car_id})}"  th:object="${info}" method="post">

    <p>
        customer name :
        <input type="text" th:field="*{customer_name}"/>

    </p>

    <p>
        price :
        <input type="text" th:field="*{price}"/>

    </p>


    <p>
        <input type="submit" value="Sell"/>

        <input type="reset" value="Rest"/>
    </p>
</form>

</body>
</html>